<p class="font-bold text-2xl">Chat history</p>
<div class="border">
  <div *ngFor="let message of messages">
    <div class="flex p-2">
      <p class="font-bold">{{message.user}}:</p>
      <p class="ml-2">{{message.text}}</p>
    </div>
  </div>
</div>
<p class="flex items-center justify-center p-2 h-full">
  Your message:
  <input class="border" type="text" [(ngModel)]="tempText" placeholder="Enter message">
  <button class="border" type="button" (click)="savePost(tempText)">Send</button>
</p>