<section
  class="flex flex-col gap-8 items-center max-w-screen-md h-full ml-auto mr-auto pr-4 pl-4 pb-8"
>
  <!-- Channel name -->
  <div class="w-full flex flex-col gap-2">
    <label class="font-bold" for="name">Channel name</label>
    <input
      class="default-input"
      name="name"
      type="text"
      [(ngModel)]="tempChannel.name"
      placeholder="tempChannel.name"
	  maxlength="20"
    />
  </div>

  <!-- Mode -->
  <div class="w-full flex flex-col gap-2">
    <label class="font-bold" for="name">Mode</label>
    <div class="flex gap-4 w-full justify-start">
      <tcd-custom-button
        *ngFor="let mode of modes"
        [buttonText]="mode"
        [isBlack]="tempChannel.mode === mode"
        (click)="selectMode(mode)"
      ></tcd-custom-button>
    </div>
  </div>

  <!-- Password -->
  <div class="w-full flex flex-col gap-2">
    <label
      [ngStyle]="{
        color: tempChannel.mode !== 'protected' ? 'gray' : 'inherit'
      }"
      class="font-bold"
      for="name"
      >Password</label
    >
    <input
      [disabled]="tempChannel.mode !== 'protected'"
      class="default-input"
      [ngStyle]="{
        borderColor: tempChannel.mode !== 'protected' ? 'gray' : 'black'
      }"
      name="name"
      type="password"
      [(ngModel)]="tempPassword"
      placeholder=""
    />
  </div>

  <!-- Owner -->
  <div *ngIf="!emptyChannel && channelOwner" class="w-full flex flex-col gap-2">
    <label class="font-bold" for="name">Owner</label>
    <div class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full">
      <tcd-profile-card [user]="channelOwner"  [userName]="channelOwner.name" [userAvatar]="channelOwner.avatar" [userStatus]="getUserStatus(channelOwner.id)"></tcd-profile-card>
    </div>
  </div>

  <!-- Admins -->
  <div
    *ngIf="!emptyChannel && channelAdmins.length > 0"
    class="w-full flex flex-col gap-2"
  >
    <label class="font-bold" for="name">Admins</label>
    <div class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full">
      <div class="p-4" *ngFor="let admin of channelAdmins">
        <tcd-profile-card
          [removeAdmin]="removeAdmin"
          [user]="admin"
		  [userStatus]="getUserStatus(admin.id)"
		  [userName]="admin.name" [userAvatar]="admin.avatar"
        ></tcd-profile-card>
      </div>
    </div>
  </div>

  <tcd-custom-button
  class="ml-auto"
	(click)="openUserPopup()"
	[buttonText]="'Add member'"
	[isDisabled]="emptyChannel"
  ></tcd-custom-button>

  <!-- Members -->
  <div
    *ngIf="!emptyChannel && channelMembers.length > 0"
    class="w-full flex flex-col gap-2"
  >
    <div class="w-full flex items-center justify-between">
      <label class="font-bold" for="name">Members</label>
    </div>
    <div class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full">
      <div class="p-4" *ngFor="let user of channelMembers">
        <tcd-profile-card
          [kick]="kick"
          [ban]="ban"
          [mute]="mute"
          [makeAdmin]="makeAdmin"
          [user]="user"
		  [userStatus]="getUserStatus(user.id)"
		  [userName]="user.name" [userAvatar]="user.avatar"
        ></tcd-profile-card>
      </div>
    </div>
  </div>

  <!-- Popup -->
  <tcd-user-search
    *ngIf="popup"
    (userSelected)="onUserSelected($event)"
    (closeClicked)="closeUserPopup()"
    [invitation]="'Invite user to channel'"
	[searchIds]="channel.usersIds"
	[onlyIds]="false"
  ></tcd-user-search>

  <!-- Invited users -->
  <div *ngIf="invitedUsers.length > 0" class="w-full flex flex-col gap-2">
    <label class="font-bold" for="name">Invited users</label>
    <div class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full">
      <div class="p-4" *ngFor="let user of invitedUsers">
        <tcd-profile-card
          [disinvite]="disinvite"
          [user]="user"
		  [userStatus]="getUserStatus(user.id)"
		  [userName]="user.name" [userAvatar]="user.avatar"
        ></tcd-profile-card>
      </div>
    </div>
  </div>

  <!-- Delete and Save buttons -->
  <div class="flex justify-between w-full">
    <tcd-custom-button
      [buttonText]="'Delete channel'"
      (click)="handleDelete()"
    ></tcd-custom-button>
    <tcd-custom-button
      [buttonText]="'Save changes'"
      (click)="handleClick()"
      [isBlack]="true"
    ></tcd-custom-button>
  </div>
</section>