<div class="cursor-default h-full-header flex flex-col justify-center  text-7xl pl-8 pr-8" >
    <div class="flex">

        <tcd-custom-button [customRoute]="'/create-profile'" [size]="'big'" [buttonText]="'Create profile'" [isBlack]=true></tcd-custom-button>
        <h1 class="">Join the <span class="vibrate-2 font-Sniglet font-bold">PONG</span> party!</h1>
    </div>
    <div class="ml-auto m-4 flex gap-6 items-center">
        <span class="arrows hidden sm:inline-block">>>>>>>>>>>></span>
        <span class="arrows inline-block md:hidden">>>>>></span>
        <tcd-custom-button [customRoute]="'/game'" [size]="'big'" [buttonText]="'Play now'" [isBlack]=true></tcd-custom-button>
    </div>
</div>
