<div class="relative-overflow-x-auto">
    <ul>
        <li *ngFor="let user of users | sortByScore">
            <div class="flex items-center gap-2">
                <img  class="w-32" *ngIf="user.avatarUrl" [src]="user.avatarUrl"
                    alt="avatar">
                <div class="">
                    <h2>{{ user.userName }}</h2>
                    <h2>Score: {{ user.score }}</h2>
                    <p *ngIf="user.color">
                        color: {{ user.color }}
                    </p>
                    <div>ID: {{ user.id }} </div>
                </div>
            </div>
        </li>
        <li *ngIf="!users.length">
            No users available.
        </li>
    </ul>
</div>
