<div class="h-24 rounded-2xl text-white p-4 absolute w-[95%] left-1/2 transform translate-x-[-50%]  bg-zinc-800"></div>

<div
  class="bg-black h-24 rounded-2xl text-white p-4 flex justify-between items-center absolute w-[95%] left-1/2 transform translate-x-[-50%] top-5"
>
  <div class="flex flex-col justify-center">
    <h1 class="font-bold">🎮 {{ this.channel.name }} 🕹️</h1>
    <p>{{ this.channel.usersIds.length}}</p>
  </div>
  <p *ngIf="!invitation">
    No game invitations
  <p>
  <tcd-custom-button
    *ngIf="invitation"
    [buttonText]="'Click to accept game invitation'"
    (click)="acceptInvitation()">
  </tcd-custom-button>
  <a>
    <tcd-chat-btn [icon]="'featherSettings'"></tcd-chat-btn>
  </a>
</div>
