<div class="relative-overflow-x-auto">
    <ul>
        <li *ngFor="let user of users | sortByScore">
            <div class="flex items-center gap-2">
                <tcd-profile-pic [profilePic]="user.avatar"></tcd-profile-pic>
                <div class="">
                    <h2>{{ user.name }}</h2>
                    <h2>wins: {{ user.wins }}</h2>
                    <p *ngIf="user.color">
                        color: {{ user.color }}
                    </p>
                    <div>ID: {{ user.id }} </div>
                </div>
            </div>
        </li>
        <li *ngIf="!users.length">
            No users available. The backend Server might not be running or there is no data in the Database.
        </li>
    </ul>
</div>
