<div class="border border-zinc-800 bg-zinc-800 rounded-3xl h-[calc(100vh-115px)] m-4 relative">
  <tcd-chat-header></tcd-chat-header>
  <div class="overflow-y-auto h-[calc(100%-180px)]  pl-9 pr-9 scrollbar-hide mt-28 pt-6 pb-8" >
    <div *ngFor="let message of messages">
      <tcd-message [post]="message"></tcd-message>
    </div>

  <tcd-chat-input></tcd-chat-input>
</div>

<!-- Input -->
<!-- <p class="flex items-center justify-center p-2 h-full">
  Your message:
  <input class="border" type="text" [(ngModel)]="tempText" placeholder="Enter message">
  <button class="border" type="button" (click)="savePost(tempText)">Send</button>
</p> -->
