<section class="m-4 flex justify-center items-center flex-col max-w-screen-md ml-auto mr-auto gap-4 p-4">

<!-- Profile picture -->
<tcd-profile-pic [profilePic]="this.myUser.avatar"></tcd-profile-pic>

<!-- Name , level and status -->
<div class="flex flex-col items-center">
    <div class="flex items-center gap-2">
        <div [ngClass] = "{ 'h-4 aspect-square  rounded-full border border-black' : true,
            'bg-green-300' : myUser.status === 'online',
            'bg-red-400' : myUser.status === 'offline',
            'bg-blue-400' : myUser.status === 'ingame'}">
        </div>
        <h1 class="font-bold text-2xl">{{myUser.name}}</h1>
    </div>
    <p>level {{getFloorLevel()}}</p>
</div>

<!-- Add, remove, block friend -->
<div class="flex gap-4">
    <tcd-custom-button buttonText="Add friend"></tcd-custom-button>
    <tcd-custom-button buttonText="Block"></tcd-custom-button>
    <tcd-custom-button buttonText="Edit profile" [customRoute]="'/create-profile'"></tcd-custom-button>
</div>

<!-- note from Jean: it might make sense to also display the overall matches here -->
<!-- Stats -->
<tcd-stats [level]="myUser.level"></tcd-stats>

<!-- Achievements -->
<div class="flex flex-col items-center w-full">
    <p>Achievements</p>
    <div class="bg-black w-full rounded-3xl h-fit p-4 grid gap-4 grid-cols-3 sm:grid-cols-5 justify-items-center items-center" >
        <div *ngFor="let achievement of achievements">
            <tcd-achievement [achievement]="achievement"></tcd-achievement>
        </div>
    </div>
</div>

<!-- Match history -->
<div class="flex flex-col items-center w-full">
    <p>Match history</p>
    <div class="bg-black w-full rounded-3xl h-fit p-4" >
        <div *ngFor="let match of matches">
            <tcd-match [match]="match" [me]="myUser"></tcd-match>
        </div>
    </div>
</div>
</section>

