<section
  class="m-4 flex justify-center items-center flex-col max-w-screen-md ml-auto mr-auto gap-4 p-4"
>
  <!-- Profile picture -->
  <tcd-profile-pic [profilePic]="user.avatar" [size]="'8rem'"></tcd-profile-pic>

  <!-- Name , level and status -->
  <div class="flex flex-col items-center">
    <div class="flex items-center gap-2">
      <div
        [ngClass]="{
          'h-4 aspect-square  rounded-full border border-black': true,
          'bg-green-300': userStatus === 'Online',
          'bg-red-400': userStatus === 'Offline',
          'bg-blue-400': userStatus === 'Playing',
          'bg-yellow-300': userStatus === 'Queueing'
        }"
      ></div>
      <h1 class="font-bold text-2xl">{{ user.name }}</h1>
    </div>
    <p>level {{ getFloorLevel() }}</p>
  </div>

  <!-- Buttons -->
  <div class="flex gap-4">
    <!-- Add friend -->
    <tcd-custom-button
      (click)="addRelation('friend')"
      *ngIf="!myProfile && relation === 'none'"
      buttonText="Add friend"
      [icon]="'featherUserPlus'"
    ></tcd-custom-button>
    <!-- Block -->
    <tcd-custom-button
      (click)="addRelation('blocked')"
      *ngIf="!myProfile && relation === 'none'"
      buttonText="Block"
      [icon]="'featherUserX'"
    ></tcd-custom-button>
    <!-- Remove friend -->
    <tcd-custom-button
      (click)="removeRelation()"
      *ngIf="!myProfile && relation === 'friend'"
      buttonText="Remove friend"
      [icon]="'featherUserMinus'"
    ></tcd-custom-button>
    <!-- Unblock -->
    <tcd-custom-button
      (click)="removeRelation()"
      *ngIf="!myProfile && relation === 'blocked'"
      buttonText="Unblock"
      [icon]="'featherUserCheck'"
    ></tcd-custom-button>
    <!-- Message -->
    <tcd-custom-button
      *ngIf="!myProfile && relation !== 'blocked'"
      buttonText="Message"
      [icon]="'featherMail'"
      [isDisabled]="userStatus === 'Offline'"
      (click)="navigateToDm()"
    ></tcd-custom-button>
    <!-- Edit profile -->
    <tcd-custom-button
      *ngIf="myProfile"
      buttonText="Edit profile"
      [customRoute]="'/create-profile'"
    ></tcd-custom-button>
  </div>

  <!-- note from Jean: it might make sense to also display the overall matches here -->
  <!-- Stats -->
  <div class="flex w-full items-center justify-center gap-4">
    <tcd-wins-losses
      class="aspect-square"
      [number]="user.wins"
      [text]="'wins'"
    ></tcd-wins-losses>
    <tcd-wins-losses
      class="aspect-square"
      [number]="user.matches - user.wins"
      [text]="'losses'"
    ></tcd-wins-losses>
  </div>

  <tcd-stats [level]="user.level"></tcd-stats>

  <!-- Friends -->
  <div class="w-full">
    <p class="text-center">Friends</p>
    <div
      *ngIf="friends.length > 0"
      class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full"
    >
      <div class="p-4" *ngFor="let friend of friends">
        <tcd-profile-card
          [user]="friend"
          [userStatus]="getUserStatus(friend.id)"
          [userName]="getUserName(friend.id)"
          [userAvatar]="getUserAvatar(friend.id)"
        ></tcd-profile-card>
      </div>
    </div>
    <div
      *ngIf="friends.length === 0"
      class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full flex flex-col items-center justify-center h-24"
    >
      <img src="assets/empty.svg" class="w-10" />
      <h1 class="text-white font-Inter">Nothing here yet...</h1>
    </div>
  </div>

  <!-- Achievements -->
  <div class="flex flex-col items-center w-full">
    <p>Achievements</p>
    <div
      *ngIf="user.achievements && user.achievements.length > 0"
      class="bg-black w-full rounded-3xl h-fit p-4 grid gap-4 grid-cols-3 sm:grid-cols-5 justify-items-center items-center"
    >
      <div *ngFor="let achievement of user.achievements">
        <tcd-achievement [achievement]="achievement"></tcd-achievement>
      </div>
    </div>
    <div
      *ngIf="user.achievements.length === 0"
      class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full flex flex-col items-center justify-center h-24"
    >
      <img src="assets/empty.svg" class="w-10" />
      <h1 class="text-white font-Inter">Nothing here yet...</h1>
    </div>
  </div>

  <!-- Match history -->
  <div
    class="flex flex-col items-center w-full"
  >
    <p>Match history</p>
    <div *ngIf="matches && matches.length > 0" class="bg-black w-full rounded-3xl h-fit p-4">
      <div *ngFor="let match of matches">
        <tcd-match [match]="match" [me]="user"></tcd-match>
      </div>
    </div>
	<div
	*ngIf="matches.length === 0"
	class="mb-4 border border-zinc-800 bg-zinc-800 rounded-3xl w-full flex flex-col items-center justify-center h-24"
  >
	<img src="assets/empty.svg" class="w-10" />
	<h1 class="text-white font-Inter">Nothing here yet...</h1>
  </div>
  </div>
</section>
