<div class="flex justify-center items-center h-full-header  ml-4 mr-4">

	<!-- Game mode -->
	<div *ngIf="status === 'new-game'" class="w-full flex justify-center items-center h-full gap-8">
		<!-- Default -->
		<tcd-game-mode class="w-full max-w-md" [mode]="'default'" (click)="startGame('default')"
			[highLightColor]="highLightColor" [darkerColor]="darkerColor"></tcd-game-mode>
		<!-- Ultimate -->
		<tcd-game-mode class="w-full max-w-md" [mode]="'special'" (click)="startGame('special')"
			[highLightColor]="highLightColor" [darkerColor]="darkerColor"></tcd-game-mode>
			<!-- added by Jean, sorry for the uglyness -->
			<tcd-custom-button [buttonText]="'Training'" (click)="startTrainingGame()" [isBlack]="true"></tcd-custom-button>
		</div>
		<!-- Loading -->
		<div *ngIf="status === 'waiting'" class="flex flex-col items-center justify-center gap-4 w-full">
			<div class="sm:w-full max-w-md aspect-square  w-2/3 relative ">
				<img class="w-full spin absolute" src="assets/loading.svg" alt="loading">
				<div class="w-full rounded-full aspect-square" [ngStyle]="{ 'background-color': darkerColor }"></div>
			</div>
			<tcd-custom-button [buttonText]="'Leave match'" (click)="leaveQueue()" [isBlack]="true"></tcd-custom-button>
		</div>

	<!-- Aborted -->
	<div *ngIf="status === 'aborted'" class="flex flex-col items-center">
		<div class="m-4 p-8 rounded-xl" [ngStyle]="{ 'background-color': darkerColor }">
			<h1>Your opponent has left the match...</h1>
		</div>
		<tcd-custom-button buttonText="Play again" (click)="playAgain()" [isBlack]="true"></tcd-custom-button>
	</div>

	<!-- Canvas -->
	<div [class.hidden]="status !== 'playing'">
		<canvas class="rounded-2xl w-full max-w-4xl" #canvas width="1280" height="720"></canvas>
	</div>


	<!-- Game over -->
	<div *ngIf="status === 'gameover' && match" class="flex flex-col gap-16 items-center w-full">
		<div class="font-bold font-Sniglet text-4xl">
			<h1 [class.hidden]="match.myScore <= match.opponentScore">YOU WON!</h1>
			<h1 [class.hidden]="match.myScore > match.opponentScore">YOU LOST!</h1>
		</div>
		<div class=" p-8 bg-black rounded-3xl  w-3/5">
			<tcd-match [match]="match" [me]="myUser"></tcd-match>
		</div>
		<div class="flex justify-between items-center w-3/5">
			<tcd-custom-button class="self-start" buttonText="Back to lobby" [icon]="'featherArrowLeft'" (click)="playAgain()"></tcd-custom-button>
			<!-- <tcd-custom-button [buttonText]="'Rematch with ' + (match.opponent.name.length > 10 ? (match.opponent.name | slice: 0:10) + '...' : match.opponent.name)" [icon]="'featherRepeat'" (click)="playAgain()"></tcd-custom-button> -->
			<!-- <tcd-custom-button [buttonText]="'Join ' + (match.opponent.name.length > 10 ? (match.opponent.name | slice: 0:10) + '...' : match.opponent.name)" [icon]="'featherChevronsRight'" (click)="playAgain()"></tcd-custom-button> -->
		</div>
	</div>

</div>