<div class="flex justify-center items-center h-full-header  ml-4 mr-4">

	<div [class.hidden]="gameOver">
		<canvas class="rounded-2xl w-full" #canvas width="1280" height="720"></canvas>
		<tcd-custom-button buttonText="Click to Play" (click)="startGame()"></tcd-custom-button>
	</div>

	<div *ngIf="gameOver" class="flex flex-col gap-16 items-center w-full">
		<div class="font-bold font-Sniglet text-4xl">
			<h1 [class.hidden]="match.myScore <= match.opponentScore">YOU WON!</h1>
			<h1 [class.hidden]="match.myScore > match.opponentScore">YOU LOST!</h1>
		</div>
		<div class=" p-8 bg-black rounded-3xl  w-3/5">
			<tcd-match [match]="match" [me]="myUser"></tcd-match>
		</div>
	</div>

</div>