<div class="flex justify-center items-center h-full-header  ml-4 mr-4">

	<div *ngIf="status === 'new-game'"
		class="rounded-3xl sm:w-full sm:text-7xl max-w-md aspect-square flex flex-col items-center justify-center w-1/2 text-3xl cursor-pointer text-white hover:text-black transition-all active:scale-95"
		(click)="startGame()" [ngStyle]="{ 'background-color': highLightColor }"
		(mouseover)="highLightColor = darkerColor" (mouseout)="highLightColor = 'black'">

		<h1 class="font-light">Classic</h1>
		<h1 class="font-Sniglet font-bold">PONG</h1>
	</div>

	<div *ngIf="status === 'waiting'" class="sm:w-full max-w-md aspect-square  w-2/3 relative">
		<img class="w-full spin absolute" src="assets/loading.svg" alt="loading">
		<div class="w-full rounded-full  aspect-square"
		[ngStyle]="{ 'background-color': darkerColor }"></div>
	</div>

	<div [class.hidden]="status !== 'playing'">
		<canvas class="rounded-2xl w-full max-w-4xl" #canvas width="1280" height="720"></canvas>
	</div>

	<div *ngIf="status === 'gameover'" class="flex flex-col gap-16 items-center w-full">
		<div class="font-bold font-Sniglet text-4xl">
			<h1 [class.hidden]="match.myScore <= match.opponentScore">YOU WON!</h1>
			<h1 [class.hidden]="match.myScore > match.opponentScore">YOU LOST!</h1>
		</div>
		<div class=" p-8 bg-black rounded-3xl  w-3/5">
			<tcd-match [match]="match" [me]="myUser"></tcd-match>
		</div>
		<div>
			<tcd-custom-button buttonText="Click to Play again" (click)="playAgain()"></tcd-custom-button>
		</div>
	</div>

</div>