<button
*ngIf="!isDisabled"
  [ngClass]="{
    'rounded-full p-2 border border-black transition-all active:scale-95': true,
    'bg-black text-white hover:bg-zinc-800': isBlack,
    'hover:bg-black hover:text-white': !isBlack,
    'h-10': size == 'small',
    'p-4 text-4xl' : size == 'big',
  }"
  (click)="onClick && onClick()"
  [routerLink]="customRoute"

>
  {{ buttonText }}
</button>


<button
*ngIf="isDisabled"
  [ngClass]="{
    'rounded-full border p-2 cursor-not-allowed transition-all ': true,
    'bg-gray-600 text-black border border-gray-600': isBlack,
    'hover:bg-black hover:text-white border-black ': !isBlack,
    'h-10': size == 'small',
    'p-4 text-4xl' : size == 'big',
  }"
  [routerLink]="customRoute"
  disabled
>
  {{ buttonText }}
</button>